#tableContainer img {
  width: 80px;
}

#tableContainer {
  margin-bottom: 30px;
}

.red {
  color: rgb(203, 13, 13);
}

.blue {
  color: rgb(51, 97, 188);
}

#productsManagerContainer {
  margin: 150px 50px 0px 50px;
}

.addProductButton {
  background-color: #008337;
  border-width: 0;
  margin-top: 5px;
}

.addProductButton:hover {
  background-color: #045b28;
}
