#categoryContainer {
  margin-top: 120px;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  border-radius: 4px;
}

#categoryMenuId {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#categoryMenuId li a {
  text-decoration: none;
  color: black;
}

#categoryMenuId li a:hover {
  color: #e39822;
}
