#counter {
  padding: 0px 12px;
  margin: 9px 0px 1px 0px;
  width: 100%;
  justify-content: space-between;
}

.counterText {
  margin-top: 7px;
  font-size: large;
  text-align: center;
  width: 100%;
  height: 100%;
}

.botonAgregarCarrito {
  width: 100%;
  height: 100%;
  background-color: #e39822;
  border-style: none;
}

.botonAgregarCarrito:hover {
  background-color: #008337;
  border-style: none;
}

.botonMasMenos {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: white;
  border-width: 1px;
  border-color: white;
  font-size: x-large;
  color: #e39822;
}

.botonMasMenos:hover {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e39822;
  color: #e39822;
}

.containerButtonAdd {
  padding: 0 0 0 5px;
}
