* {
  margin: 0;
  padding: 0;
}

#ItemDetailContainer {
  position: relative;
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 5px;
  border-radius: 17px;

  @media (min-width: 991.98px) {
    height: 250px;
  }
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
    height: 280px;
    top: -200px;
  }
  @media (max-width: 575.98px) and (orientation: portrait) {
    margin-top: 80px;
    height: 650px;
  }
}

#ItemDetailContainer h3 {
  font-size: medium;
  color: gray;
  margin: 0;
  padding: 0;
}

#ItemDetailContainer h2 {
  font-size: x-large;
  color: black;
  margin: 0;
  padding: 0;
}

#ItemDetailContainer h1 {
  font-size: 30pt;
  color: #e39822;
  margin-right: 30px;
  padding: 0;
  text-align: right;
  margin-top: -10px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

#ItemDetailContainer p {
  padding-top: 20px;
  width: 100%;
  white-space: pre-line; /* Respeta los saltos de línea y colapsa espacios múltiples */

  overflow-y: scroll;
  @media (min-width: 991.98px) {
    height: 140px;
  }
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
    height: 170px;
  }
  @media (max-width: 575.98px) and (orientation: portrait) {
    height: 220px;
  }
}

.imgDetail {
  width: 100%;
  height: 100%;
  border-radius: 13px 0px 0px 13px;
  @media (max-width: 575.98px) and (orientation: portrait) {
    border-radius: 13px 13px 0px 0px;
  }
}
