#formularioUsuario {
  margin-top: 150px;
  width: 50%;
  justify-content: center;
  background-color: white;
  padding: 30px;
  @media (max-width: 575.98px) {
    padding: 10px;
    width: 90%;
    margin-top: 110px;
  }
}

.input {
  margin-bottom: 10px;
}

.botonFormulario {
  margin-top: 25px;
  margin-left: 10px;
}

p .userData {
  margin-top: 20px;
  font-size: xx-small;
}
