* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0ebe3;
}

ul li {
  list-style: none;
}

.spinner {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background-color: white;
  opacity: 80%;
}
